h1 {
	text-align: center;
	margin-top: 65px;

}

h3 {
	text-align: center;
}

.image1 {
	margin-top: -150px;
}


.office {
	height: 150px;
	width: 1344px;
	
}

.officetext {
	margin-top: 200px;
	text-align: center;
}

.contactme {
	width: 1024px;
}

.yy {
    margin-left: 625px;
    margin-bottom: 50px;
}